*              text=auto
*.cmd          text
*.config       text
*.cs           text
*.csproj       text
*.editorconfig text
*.gitignore    text
*.json         text
*.md           text
*.nuspec       text
*.png          -text
*.proj         text
*.prompty      text
*.props        text
*.ps1          text
*.py           text
*.resx         text
*.rsp          text
*.runsettings  text
*.snk          -text
*.sql          text
*.targets      text
*.txt          text
*.xml          text
*.yaml         text
*.yml          text
